 <% if space.revealed %>
  <td class="cell cell-revealed cell-<%=space.assignment%>"><%= space.word.text %></td>
 <% else %>
    <td class="cell cell-unrevealed"><%= space.word.text %></td>
 <% end %>